# Dependencies
node_modules/
.pnp
.pnp.js

# Build output
dist/
.astro/

# Environment
.env
.env.local
.env.*.local

# Vercel
.vercel

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
